:root{
    --primary-bg-color:#252525;
    --secondary-bg-color:#c09578;
    --light-bg-color:#fcf5eb;
    --dark-bg-color:#101010;
    --text-color:#fff;
    --primary-color:#c09578;
    --secondary-color:#626262;
    --light-color:#fcf5eb;
    --primary-color-items:#9945e0;
}

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color:antiquewhite;
    color: var(--text-color);
}

/*Navbar*/
.navbar{
   background-color: var(--primary-color);
}

.navbar-brand img{
    border-radius: 50%;
}

#navbar .btn{
   background-color: var(--primary-color-items);
   color: var(--text-color);
}

#navbar .btn:hover{
    color: var(--primary-color-items) !important;
    background-color: var(--text-color) !important;
    border: 1px solid var(--primary-color-items);
}

#active{
    color: var(--primary-color-items);
    font-weight: bold;
}

#active:hover{
    font-weight: 300;
}

.nav-link:hover{
    font-weight: bold;
    color:var(--primary-color-items);
}

.dropdown-item:hover{
    color:var(--primary-color-items);
    font-weight: bold;
}

.dropdown-menu a:focus{
    background-color:var(--text-color);
}

/*Modal do cadastro de nova conta da navbar*/
#modalCadastro h2{
    color: var(--primary-color-items);
    font-weight: bold;
}

/*Modal produtos em promoção da navbar*/
#modalProducts h1{
    color: var(--primary-color-items);
    font-weight: bold;
}

.card .card-title{
    color: var(--primary-color-items);
    font-weight: bold;
}

.card .card-subtitle{
    color: var(--primary-color-items);
    font-weight: 600;
}

.card .card-text{
    color: var(--primary-color-items);
    font-weight: 400;
}

/*Carousel*/
.carousel-title, .carousel-text{
   color: var(--primary-color-items);
   font-weight: bold;
}

#carousel img{
    height: 350px;
}

/* card masculino*/

.title-cardMan{
   padding-top: 25px;
   color: var(--primary-color-items);
   font-weight: bold;
}

.favorite-icon{
    font-size: 1.6rem;
    margin-left: 120px;
    color: var(--primary-color-items);
}

#cardMan .btn{
    background-color: var(--primary-color-items);
    color: var(--text-color);
 }
 
 #cardMan .btn:hover{
     color: var(--primary-color-items) !important;
     background-color: var(--text-color) !important;
     border: 1px solid var(--primary-color-items);
 }

 .modal-text-favorites{
    color: var(--primary-color-items) !important;
    cursor: pointer;
 }

 .modal-text-favorites:hover{
    font-weight: bold;
    font-size: 1.2rem;
 }


/* Média */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

   /*Carousel*/
    #carousel img{
         height: 650px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}